*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;

}

.main-color{
    color:#1EB2A6;
}

 /* start of online learning  */
 .online-img{
    background-image: url(../imgs/3.jpg);
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .bg-color{
     color:#F8F8F8;
 }
 .services{
     background-color: white;
 }
 .services:hover{
background-color:#1EB2A6 ;
color:white !important;
 }
 .img-item:hover{
    color:white !important;
 }
/* end of online learning  */

/* start of counter  */

.counter{
    background-image: url(../imgs/bg.webp);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/* fw-bolder */
.num{
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
.text{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}
/* end of counter  */

